@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

body{
    margin: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.side-area{
    flex: 1;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-area{
    flex: 2;
}

.odin-logo{
    margin-top: 100px;
    display: flex;
    height: 140px;
    background-color: rgba(50, 50, 50, 0.5);
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    font-size: 5rem;
    color: white;
}

img{
    height: 80%;
}