@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

body{
    margin: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.side-area{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 360px;
    justify-content: space-between;
}

.form-area{
    flex: 2;
}

.odin-logo{
    margin-top: 160px;
    display: flex;
    height: 120px;
    background-color: rgba(0, 20, 0, 0.4);
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    font-size: 5rem;
    color: white;
}

.odin-logo img{
    height: 80%;
}

.photo-credit{
    color: white;
    align-self: center;
    margin-bottom: 8px;
}

.photo-credit a{
    color: white;
}